.emails-full-view .emails-full-view_subject {
    font-size: 20px;
}
.emails-full-view .emails-full-view_date {
    font-size: 10px;
}

.emails-full-view .emails-full-view_from {
    font-size: 18px;
    margin-bottom: 5px;
}

.emails-full-view .emails-full-view_recipients {
    font-size: 14px;
}

.emails-full-view .emails-full-view_body {
    margin-top: 10px;
    white-space: pre-line;
}



.emails-short-view {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
    cursor: pointer;
}
.emails-short-view:hover {
    box-shadow: 0px 0px 3px 1px grey;
}

.emails-short-view .emails-short-view_subject {
    font-size: 18px;
    margin-bottom: 5px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.emails-short-view .emails-short-view_date {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.emails-short-view .emails-short-view_from{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.emails-short-view .emails-short-view_recipients {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.emails-short-view .emails-short-view_body {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    margin-top: 10px;
}



.emails-view .emails-view_messages > div {
    margin: 0;
}

.emails-view .emails-view_messages_header {
    font-size: 18px;
    border-bottom: black solid 1px;
    margin-bottom: 20px;
}

.emails-view .emails-view_message {
    position: relative;
}

.emails-view .emails-view_message_open {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    background-color: #AAA;
    border-radius: 0 5px 0 5px;
    z-index: 1;
}



.emails-full-view--preview:hover {
    box-shadow: 0px 0px 3px 1px grey;
}
.emails-full-view--preview {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
    cursor: pointer;
}