<div class="emails-full-view panel panel-default"
     ng-class="{ 'emails-full-view--preview': fullViewController.preview}">
    <div class="panel-heading">
        <div class="emails-full-view_subject">
            <span ng-repeat="part in fullViewController.subjectMatching track by $index"
                  ng-class="{ 'highlighted': $index % 2 }">{{ part }}</span>
        </div>
        <div class="emails-full-view_date">
            {{ fullViewController.email.date | date:"yyyy/MM/dd 'at' h:mma" }}
        </div>
    </div>
    <div class="panel-body">
        <div class="emails-full-view_from">
            <span ng-class="{ 'highlighted': fullViewController.isUserMatched(fullViewController.email.from) }">
                {{ fullViewController.email.from }}
            </span>
        </div>
        <div class="emails-full-view_recipients">
            To:
            <span class="label"
                  ng-repeat="recipient in fullViewController.email.to"
                  ng-class="{ 'label-warning': fullViewController.isUserMatched(recipient), 'label-default': !fullViewController.isUserMatched(recipient)}">
                {{ recipient }}
            </span>
        </div>
        <div class="emails-full-view_recipients"
             ng-if="fullViewController.email.cc && fullViewController.email.cc.length">
            Cc:
            <span class="label"
                  ng-repeat="recipient in fullViewController.email.cc"
                  ng-class="{ 'label-warning': fullViewController.isUserMatched(recipient), 'label-default': !fullViewController.isUserMatched(recipient)}">
                {{ recipient }}
            </span>
        </div>
        <div class="emails-full-view_recipients"
             ng-if="fullViewController.email.bcc && fullViewController.email.bcc.length">
            Bcc: 
            <span class="label"
                  ng-repeat="recipient in fullViewController.email.bcc"
                  ng-class="{ 'label-warning': fullViewController.isUserMatched(recipient), 'label-default': !fullViewController.isUserMatched(recipient)}">
                {{ recipient }}
            </span>
        </div>

        <div class="emails-full-view_body">
            <span ng-repeat="part in fullViewController.bodyMatching track by $index"
                  ng-class="{ 'highlighted': $index % 2 }">{{ part }}</span>
        </div>
    </div>
</div>