<div class="emails-short-view panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-8 col-lg-9 emails-short-view_subject">
                <i class="glyphicon glyphicon-transfer"
                   title="Conversation. Message has replies or is a reply itself."
                   ng-show="shortViewController.showIcons && (shortViewController.email.parentId || shortViewController.email.hasChildren)"></i>
                {{ shortViewController.email.subject }}
            </div>
            <div class="col-xs-4 col-lg-3 emails-short-view_date">
                <span class="">
                {{ shortViewController.email.date | date:"yyyy/MM/dd 'at' h:mma" }}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 emails-short-view_from">
                From: {{ shortViewController.email.from }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 emails-short-view_recipients">
                Resipients: {{ shortViewController.emailRecipients() }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 emails-short-view_body">
                {{ shortViewController.email.body }}
            </div>
        </div>
    </div>
</div>