<div class="emails-short-view panel panel-default">
    <div class="panel-heading emails-short-view_header">
        <div class="row">
            <div class="col-xs-8 col-lg-10 emails-short-view_subject">
                <i class="glyphicon glyphicon-transfer"
                   title="Conversation. Message has replies or is a reply itself."
                   ng-show="shortViewController.showIcons && (shortViewController.email.parentId || shortViewController.email.hasChildren)"></i>
                <span ng-repeat="part in shortViewController.subjectMatching track by $index"
                      ng-class="{ 'highlighted': $index % 2 }">{{ part }}</span>
            </div>
            <div class="col-xs-4 col-lg-2 emails-short-view_date">
                <span class="">
                {{ shortViewController.email.date | date:"yyyy/MM/dd 'at' h:mma" }}
                </span>
            </div>
        </div>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-xs-12 emails-short-view_users">
                <span class="emails-short-view_from"
                      ng-class="{ 'highlighted': shortViewController.fromMatched }">
                    {{ shortViewController.email.from }}
                </span>
                :
                <span class="label label-warning emails-short-view_recipient" ng-repeat="recipient in shortViewController.matchedRecipients">
                    {{ recipient }}
                </span>
                <span class="label label-default emails-short-view_recipient" ng-repeat="recipient in shortViewController.unmatchedRecipients">
                    {{ recipient }}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 emails-short-view_body">
                <span ng-repeat="part in shortViewController.bodyMatching track by $index"
                      ng-class="{ 'highlighted': $index % 2 }">{{
                            ($index === 0 && shortViewController.bodyMatching.length > 1) ?
                                (( part.length > 10 ? '...' : '') + part.substr(part.length - 10)) :
                                part }}</span>
            </div>
        </div>
    </div>
</div>